# -*- protobuffer -*-
# proto-file: google3/devtools/kokoro/config/proto/build.proto
# proto-message: BuildConfig

# Location of the bash script. Should have value <github_scm.name>/<path_from_repository_root>.
# github_scm.name is specified in the job configuration (next section).
build_file: "dwh-assessment-extraction-tool/kokoro/gcp_ubuntu/kokoro_build_presubmit.sh"

# Password for TD instance
before_action {
  fetch_keystore {
    keystore_resource {
      keystore_config_id: 76474
      keyname: "teradata-12232021"
    }
  }
}